@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: Rency;
  src: url('/fonts/rency.woff2') format('woff2'),
       url('/fonts/rency.woff') format('woff');
}
@font-face {
  font-family: NHMedium;
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
}
@font-face {
  font-family: NHMediumBold;
  src: url('/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
}

body {
  font-family: 'Stack Sans Headline', 'NHMedium', sans-serif;
  overflow-x: hidden;
}

.rency {
  font-family: 'Rency', sans-serif;
}
